@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(177, 225, 255);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

#button {
    border: 2px solid lightcoral;
    background-color: rgb(241, 214, 214);
}

#list {
    margin-top: 20px;
}

input:checked + label {
    text-decoration: line-through;
    color: gray;
}